@font-face {
  font-family: "iconfont"; /* Project id 3552762 */
  src: url('iconfont.woff2?t=1664264870632') format('woff2'),
       url('iconfont.woff?t=1664264870632') format('woff'),
       url('iconfont.ttf?t=1664264870632') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiala:before {
  content: "\e66e";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e66a";
}

.icon-arrow-double-left:before {
  content: "\e66b";
}

.icon-arrow-double-right:before {
  content: "\e66c";
}

.icon-camera:before {
  content: "\e66d";
}

.icon-film:before {
  content: "\e671";
}

.icon-hide:before {
  content: "\e673";
}

.icon-fullscreen-expand:before {
  content: "\e675";
}

.icon-menu:before {
  content: "\e677";
}

.icon-notification:before {
  content: "\e679";
}

.icon-mic:before {
  content: "\e678";
}

.icon-play:before {
  content: "\e67a";
}

.icon-mobile-phone:before {
  content: "\e67b";
}

.icon-navigation:before {
  content: "\e67c";
}

.icon-search:before {
  content: "\e67d";
}

.icon-select:before {
  content: "\e67e";
}

.icon-time:before {
  content: "\e680";
}

.icon-home-filling:before {
  content: "\e68d";
}

.icon-all1:before {
  content: "\e696";
}

.icon-back:before {
  content: "\e697";
}

.icon-close:before {
  content: "\e69a";
}

.icon-email:before {
  content: "\e69f";
}

.icon-viewgallery:before {
  content: "\e6b4";
}

.icon-viewlist:before {
  content: "\e6b5";
}

.icon-discount:before {
  content: "\e6c5";
}

.icon-bad:before {
  content: "\e716";
}

.icon-good:before {
  content: "\e717";
}

.icon-hot:before {
  content: "\e756";
}

.icon-video:before {
  content: "\e820";
}

.icon-trust:before {
  content: "\e82a";
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-Exportservices:before {
  content: "\e702";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-play-fill:before {
  content: "\e72f";
}

.icon-atm-away:before {
  content: "\e744";
}

.icon-cart-full:before {
  content: "\e746";
}

.icon-conditions:before {
  content: "\e748";
}

.icon-company:before {
  content: "\e749";
}

.icon-cry:before {
  content: "\e74a";
}

.icon-map:before {
  content: "\e758";
}

.icon-Newuserzone:before {
  content: "\e759";
}

.icon-password:before {
  content: "\e75b";
}

.icon-notice-fill:before {
  content: "\e784";
}

.icon-icon-test:before {
  content: "\e65d";
}

.icon-icon-test1:before {
  content: "\e65e";
}

.icon-icon-test2:before {
  content: "\e65f";
}

.icon-dingtalk:before {
  content: "\e666";
}

.icon-alipay:before {
  content: "\e667";
}

.icon-taobao:before {
  content: "\e668";
}

.icon-icon-test3:before {
  content: "\e669";
}

